footer{
  height: 60px;
  background-color: #E64A19;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .wrapper a {
  color: #ffffff;
  font-family: Rubik;
  font-size: 14px;
}