
.wrapper{
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

header {
  background-color: $color-section-header;
height: 61px;
  margin-top: 0;
  display: flex;
  align-items: center;

}


header ul {
  display: flex;
  justify-content: flex-end;




}

header li{
  list-style: none;
  margin-left: 20px;




}
header a{
  color: #2D2D2D;
  font-size: 18px;
  font-family: Rubik;
  text-decoration: none;
}

header a:hover{
  color: #FFFCFC;
}