.hero{
  height: 300px;
  background-color: $color-section-hero;
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero h1{
  text-align: center;
  font-size: 96px;
  font-family: Expletus Sans;
  line-height: 125px;
}